@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.body{
  background-color: #C0C5C8;
  color: #001d3b;
  padding-top: 74px;
}
.mynav{
  background-color: #dde9ec;
  padding: 0;
  box-shadow: 0 4px 6px -4px #6f747750;
}

.topic {
  text-decoration: none;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
  background-color:#0d1f31dc;
  transition: opacity 0.15s;
}
.topic:hover {
  opacity: 0.9;
}
.topic .desc {
  color: #ddc;
  line-height: 2;
}

.about{
  display: block;
  width: 100%;
}
.about .image{
  float: left;
  width: 100%;
  min-height: 300px;
}
.about .content{
  position: absolute;
  float: left;
  padding: 100px 45px 0;
  line-height: 3;
}

.band{
  padding-top: 30px;
  text-align: center;
  line-height: 2;
}
.link{
  color: #013266;
}
.link:hover {
  color: aliceblue;
}